<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"  parallel="tests" name="Assignment 01">
        <classes>
            <class name="Assignment.Assignment_01"/>
        </classes>
    </test>

    <test verbose="2" preserve-order="true"  parallel="tests" name="Assignment 02">
        <classes>
            <class name="Assignment.Assignment_02"/>
        </classes>
    </test>
</suite>